language: node_js
node_js:
  - "0.10"
  - "0.11"
script: "npm run-script test-travis"
after_script: "test $TRAVIS_NODE_VERSION = '0.10' && npm install coveralls@2 && cat ./coverage/lcov.info | coveralls"
